  <div class="flex p-7 justify-between items-center bg-white text-black"> 
    
    <h1 class="text-4xl font-bold"> <%= link_to "jrnl.", root_path %>  </h1>
///
  <div class="flex gap-5">
    <%= link_to "Create a category", new_category_path, class: "font-bold text-md" %>
    <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "font-bold text-md"  %>
  </div>
  </div>